doctype html
head
  meta(charset='UTF-8')
  title Frank&apos;s r&eacute;sum&eacute;
  link(rel='stylesheet' href='https://unpkg.com/papercss/dist/paper.min.css')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  link(rel='stylesheet' type='text/css' href='css/print.css' media='print')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
.paper.container
  .picture
    img.avatar(src='https://scontent.frmq2-1.fna.fbcdn.net/v/t1.0-1/c0.0.240.240a/p240x240/51724440_1652639438169341_3329617943901241344_n.jpg?_nc_cat=102&_nc_oc=AQnCqmqOUY8QZOjLY8Deg__D2epGacGp7Lx_EHhbCVbDmSd0sFL5MZL5tTeTz3CWpkA&_nc_ht=scontent.frmq2-1.fna&oh=2271c6d1478efebf68504afc9c9fa559&oe=5E17DFEB')
    nav.split-nav
      .nav-brand
      ul.inline
        li
          a(target='_blank' href='https://www.facebook.com/franktang95') Facebook
        li
          a(target='_blank' href='https://github.com/franktang0512') Github
    p
    h2 Profile
    span Hello, I&apos;m Frankie boy......................................................
    p
  .page-break
  .experience
    h2 Experience
    |             comming soon ...
  .page-break
  .education
    h2 Education
    table
      thead
        tr
          th Time
          th
      tbody
        tr
          td 2014.9 - 2018.6
          td
            | National Chung Cheng University, Taiwan, Chiayi &mdash; Bachelor&rsquo;s Degree, Management Information
            | System
        tr
          td 2011.9 - 2014.6
          td Lizen High School, Taiwan, Taichung
        tr
          td 2008.9 - 2011.6
          td Shuang Shi Junior High School, Taiwan, Taichung
        tr
          td 2004.9 - 2008.6
          td Li Sing Elementary School, Taiwan, Taichung
        tr
          td 2002.9 - 2004.6
          td Tuku Elementary School, Taiwan, Yunlin
  .page-break
  .skill
    h2 Skills
    .overflow
      | comming soon ...
  .page-break
  .contact
    h2 Contact
    table
      tbody
        tr
          td Name
          td Frank C.F. Tang
        tr
          td Phone
          td (+886) 0911773720
        tr
          td Email
          td frank051284@gmail.com
// <script src="js/index.js"></script>
// Global site tag (gtag.js) - Google Analytics
script(type='text/javascript' async='' src='https://www.google-analytics.com/analytics.js')
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-106778456-3')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
  dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-106778456-3");
